<?xml version="1.0" encoding="UTF-8"?>
<messages xmlns:if="Wt.WTemplate.conditions">

  <!-- Models -->

  <message id="Alert.plugins.add-plugin-button">Add plugin</message>
  <message id="Alert.plugins.delete-plugin-button">Delete plugin</message>
  
  <message id="Alert.plugins.add-source-button">Add source </message>
  <message id="Alert.plugins.delete-source-button">Delete source</message>
  <message id="Alert.plugins.modify-source-button">Modify source</message>

  <message id="Alert.plugins.add-search-and-information-button">Add search and information</message> 
  <message id="Alert.plugins.delete-search-button">Delete search</message>
  <message id="Alert.plugins.modify-search-button">Modify search</message>
  
  <message id="Alert.plugins.create-JSON-button">Generate plugin </message>
  <message id="Alert.plugins.create-JSON-anchor">Download plugin</message>
  <message id="Alert.plugin.create-JSON-anchor-info">To download plugin, you must first generate</message>
  
  <message id="Alert.plugins.plugin-table-create-title">Create plugin</message>
  <message id="Alert.plugins.plugin-table-title">Edit plugin</message>
  <message id="Alert.plugins.source-table-title">Edit source for selected plugin</message>
  <message id="Alert.plugins.search-table-title">Edit search for selected source</message>
  <message id="Alert.plugins.alert-form-title">Alerts</message>
  <message id="Alert.plugins.alert-form-info">On this page you can add a plugin</message>
  
  <message id="Alert.plugins.name-label">Name</message>
  <message id="Alert.plugins.choice-label">Plugin to edit</message>
  <message id="Alert.plugins.description-label">Description</message> 
  <message id="Alert.plugins.search-periode-label">Periode</message> 
  <message id="Alert.plugins.search-static-label">Is static</message> 
  <message id="Alert.plugins.search-key-value">Position key value</message> 
  <message id="Alert.plugins.search-nomber-value">Number of value</message> 
  
  <message id="Alert.plugins.value-number-title">Value Number</message>
  <message id="Alert.plugins.name-title">Name</message> 
  <message id="Alert.plugins.unit-title">Unit</message>
  <message id="Alert.plugins.display-title">Is display</message>
  <message id="Alert.plugins.calculate-title">Is calculate</message>
  <message id="Alert.plugins.value-title">Value</message> 
  <message id="Alert.plugins.parameter-title">Parameter</message> 
  <message id="Alert.plugins.description-title">Description</message> 
  <message id="Alert.plugins.action-title">Action</message> 
  
  <message id="Alert.plugins.message-box-error">Error</message> 
  <message id="Alert.plugins.message-field">Field : "</message>
  <message id="Alert.plugins.message-is-bad-fills">" is not correctly fills.</message> 
  <message id="Alert.plugins.message-cause">He should not be empty or should not include following character """.</message>
  <message id="Alert.plugins.message-no-selected-plugin">You have not selected plugin</message>
  
  
 <!-- templates -->
  <message id="Alert.plugins.Edition.template">
    <br />  
    
    <div class="Alert-form">
      <div class ="alert alert-info">${tr:Alert.plugins.alert-form-info} </div>


      <div class="row">
            <div class="col-lg-12">
                        <!--test-->
                <div class="widget-box">
                     <div class="widget-title">
                         <span class="icon">
                            <i class='glyphicon glyphicon-pencil'></i>
                        </span>
                        <h5>${tr:Alert.plugins.plugin-table-create-title}</h5>
                    </div> 
                    <div class="widget-content">
                         <!-- to disable the :first-child behaviour -->
                        <div class="row" style="display:none"></div>
                        
                        <!--plugin-->
                        <div class="row">
 
                            <div class="col-lg-12">                            
                                ${plugin-table-plugin-creation}
<!--                                <i class="glyphicon glyphicon-question-sign" rel="tooltip" title="${tr:Alert.plugins.name-info}"></i>-->
                            </div>
                        </div>
                    </div>
                    
                    </div>
                        <!--test-->
                        <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon">
                            <i class='glyphicon glyphicon-pencil'></i>
                        </span>
                        <h5>${tr:Alert.plugins.plugin-table-title}</h5>
                    </div> 
                    <div class="widget-content">
                        <div class="row">
                            <div class="col-lg-1">    
                                <label class="control-label">${tr:Alert.plugins.choice-label} </label>
                            </div>
                            <div class="col-lg-3">
                                ${plugin-selection-box}
                            </div> 
                        </div>
<!--                         to disable the :first-child behaviour 
                        <div class="row" style="display:none"></div>
                        
                        plugin
                        <div class="row">
                            <div class="col-lg-3">
                                ${plugin-selection-box}
                            </div> 
                            <div class="col-lg-1">    
                                <label class="control-label">${tr:Alert.plugins.name-label} </label>
                            </div>
                            <div class="col-lg-2">                            
                                ${plugin-name-edit}
                                <i class="glyphicon glyphicon-question-sign" rel="tooltip" title="${tr:Alert.plugins.name-info}"></i>
                            </div>
                            <div class="col-lg-1">
                            </div>
                             <div class="col-lg-1">    
                                <label class="control-label">${tr:Alert.plugins.description-label} </label>
                            </div>
                            <div class="col-lg-4">                            
                                ${plugin-description-edit}
                                <i class="glyphicon glyphicon-question-sign" rel="tooltip" title="${tr:Alert.plugins.description-info}"></i>
                            </div>
                        </div>
                        
                        <div class="row">
                            <span class="controls">
                                ${plugin-add-plugin-button}
                                ${plugin-delete-plugin-button}
                            </span>
                        </div>-->
                        
                        <!--source-->
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon">
                                    <i class='glyphicon glyphicon-pencil'></i>
                                </span>
                                <h5>${tr:Alert.plugins.source-table-title}</h5>
                            </div> 
                            <div class="widget-content">
                                <div class="row" style="display:none"></div>
                                
                                <div class="row">
                                    <div class="col-lg-2">
                                        ${source-selection-box}
                                    </div>
                                    <div class="col-lg-2">
                                        ${plugin-combo-addon}
<!--                                        <i class="glyphicon glyphicon-question-sign" rel="tooltip" title="${tr:Alert.plugin.combo-addon-info}"></i>-->
                                    </div> 
                                    <div class="col-lg-8">
                                        ${plugin-table-source-param}
                                    </div> 
                                </div>

                                <div class="row">
                                    <span class="controls">
                                        ${plugin-add-source-button}
                                        ${plugin-modify-source-button}
                                        ${plugin-delete-source-button}
                                    </span>
                                </div>
                                
                                <!--search-->
                                <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon">
                                        <i class='glyphicon glyphicon-pencil'></i>
                                    </span>
                                    <h5>${tr:Alert.plugins.search-table-title}</h5>
                                </div> 
                                <div class="widget-content">
                                    
                                    <div class="row" style="display:none"></div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            ${plugin-search-selection-box}
                                        </div>
                                        <div class="col-lg-2">
                                            ${plugin-combo-search-type}
                                        </div>
                                        <div class="col-lg-8">
                                            ${plugin-table-search-type-param}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-1"> 
                                            <label class="control-label">${tr:Alert.plugins.search-periode-label} </label>
                                        </div>
                                        <div class="col-lg-1">
                                            ${plugin-search-periode}
                                        </div>
                                        <div class="col-lg-1">
                                        </div>
                                        <div class="col-lg-1">    
                                            <label class="control-label">${tr:Alert.plugins.search-static-label} </label>
                                        </div>
                                        <div class="col-lg-1">
                                            ${plugin-search-static}
                                        </div>
                                        <div class="col-lg-1">
                                        </div>
                                        <div class="col-lg-1">    
                                            <label class="control-label">${tr:Alert.plugins.search-key-value} </label>
                                        </div>
                                        <div class="col-lg-1">
                                            ${plugin-search-key-value}
                                        </div>
                                        <div class="col-lg-1">
                                        </div>  
                                        <div class="col-lg-1"> 
                                            <label class="control-label">${tr:Alert.plugins.search-nomber-value} </label>
                                        </div>
                                        <div class="col-lg-1">
                                            ${plugin-search-nomber-value}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            ${plugin-search-information-table}
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <span class="controls">
                                            ${plugin-add-search-information-button}
                                            ${plugin-modify-search-button}
                                            ${plugin-delete-search-button}
                                        </span>
                                       
                                        </div>
                                     </div>
                                </div>
                             </div>
                        </div>
                        
                        <div class="row">
                            <div class="controls">
                                ${plugin-create-JSON-button}
                                ${plugin-create-JSON-anchor}
                                <i class="glyphicon glyphicon-question-sign" rel="tooltip" title="${tr:Alert.plugin.create-JSON-anchor-info}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
            
    </div>

  </message>  
  
  
</messages>